/bin
/obj

.DS_Store
src.sln
src/.idea
src/.claude

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Archive
__MACOSX

**/**/.DS_Store